.App {
  font-family: sans-serif;
  /* text-align: center; */
}
.sui-search-box__submit{
  background: linear-gradient(#20a0aa, #319900) #2f7cf4;
}
.sui-search-box__submit:hover {
  background: linear-gradient(#20a0cf, #35a988) #2f7ca4;
}

.sui-search-box__text-input:focus{
  border: 1px solid #35aa65;
}
.sui-result em {
  color: #319900;
}
.sui-result__value {
  color: #356734;
  /* font-size: 1.1em; */
}

.sui-result__title {
    color: #55ab88;
    font-style: normal;
    font-size: 1em;
}

a { text-decoration:none } 

.sui-search-box__autocomplete-container li[aria-selected="true"] {
    background: #55ab88;
}

.ad-parent {
  width: 90%;
  margin: 10px auto;
  display: inline;
  align-items: center;
  align-content: center;
}

.ad-child {
  /* border: 1px solid red; */
  flex:0;
  /* width:30%; */
  /* box-sizing: border-box; */
  text-align: center;
  
  
}

.sui-title {
  font-family: 'Do Hyeon', sans-serif; 
  font-size: 2.1em; 
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.sui-title2 {
  font-family: 'Do Hyeon', sans-serif; 
  font-size: 1.3em; 
  text-align: center;
  margin-bottom: 1%;
}

.searchbox {
  max-width: 450px;
  justify-content: center;
  font-size: 1.2em;
  margin: 0 auto;
}


